NASA MARS NEWS

In [2]:
from bs4 import BeautifulSoup as bs
from splinter import Browser

import time

In [3]:
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
time.sleep(10)

news_html = browser.html
soup = bs(news_html, 'html.parser')

# Assign the text to variables that you can reference later.

news_title = soup.find('div', class_='content_title').text.strip()
news_title

'After a Reset, Curiosity Is Operating Normally'

In [4]:
news_p= soup.find('div', class_='article_teaser_body').text
news_p

'Curiosity has returned to science operations and is once again exploring the clay unit. '

FEATURED IMAGE

In [5]:
# Visit the url for JPL Featured Space Image here.
# Use splinter to navigate the site and find the image url for the current Featured Mars Image 
# and assign the url string to a variable called featured_image_url.
# Make sure to find the image url to the full size .jpg image.
# Make sure to save a complete url string for this image.

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
time.sleep(10)

browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(10)
browser.click_link_by_partial_text('more info')

html = browser.html
soup = bs(html, 'html.parser')

first_url = 'https://www.jpl.nasa.gov/'
img_link = soup.find('img', class_='main_image')['src']

featured_image_url = first_url + img_link
featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA18429_hires.jpg'

MARS WEATHER

In [5]:
# Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
# Save the tweet text for the weather report as a variable called mars_weather.

url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

weather_html = browser.html
soup = bs(weather_html, 'html.parser')

mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text.strip()
print(mars_weather)

InSight sol 91 (2019-02-28) low -95.0ºC (-139.0ºF) high -13.9ºC (7.0ºF)
winds from the SW at 4.2 m/s (9.5 mph) gusting to 14.0 m/s (31.3 mph)
pressure at 7.20 hPapic.twitter.com/yCZi4ZZWYz

MARS FACTS

In [6]:
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet 
# including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.

import pandas as pd
facts_url ='https://space-facts.com/mars/'
facts = pd.read_html(facts_url)
print(facts)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [7]:
facts_df = facts[0]
facts_df.columns = ['Description', 'Values']
facts_df.set_index('Description', inplace=True)
facts_df

                                             Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [8]:
facts_html = facts_df.to_html()
facts =facts_html.replace('\n', '')
facts

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

MARS HEMISPHERES

In [ ]:
# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
# You will need to click each of the links to the hemispheres in order to find the image url 
# to the full resolution image.
# Save both the image url string for the full resolution hemisphere image, 
# and the Hemisphere title containing the hemisphere name. 
# Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary with the image url string and the hemisphere title to a list. 
# This list will contain one dictionary for each hemisphere.


url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
time.sleep(10)

hemis_html = browser.html
soup = bs(hemis_html, 'html.parser')

hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": vmh},
    {"title": "Cerberus Hemisphere", "img_url": ch},
    {"title": "Schiaparelli Hemisphere", "img_url": sh},
    {"title": "Syrtis Major Hemisphere", "img_url": smh},
]

In [13]:
mars = {'headline': news_title,
    'article':news_p,
    'facts': facts,
    'weather':mars_weather
    'featured_img': featured_img_url
    }
mars

{'headline': 'After a Reset, Curiosity Is Operating Normally',
 'article': 'Curiosity has returned to science operations and is once again exploring the clay unit. ',
 'facts': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'weather': 'InSight sol 91 (2019-02-28) low -95.0ºC (-139.0ºF) high -13.9ºC (7.0ºF)\nwinds from the SW at 4.2 m/s (9.5 mph) gusting to 14.0 m/s (31.3 mph)\npressure at 7.20 hPapic.twitter.com/yCZi4ZZWYz'}